<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Luis Silva</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>
    <link rel="icon" href="images/nodejs.png" type="image/x-icon">

</head>

<body id="top">

    <header>
        <%- include('templates/header'); %>
    </header>
    <section>
        <%- include('templates/section'); %>
    </section>

    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full text-center">

                <h1>Sobre mi.</h1>
                <p class="lead">Como estudiante actual en tecnología de análisis y desarrollo de sistemas de información
                    (ADSI) me encantaría poder entrar a formar parte de una empresa en la que poder aplicar todos mis
                    conocimientos y, al mismo tiempo, que me permita desarrollarme profesionalmente. <br>
                    Gracias a mi formación especializada en programación, considero que puedo aportar valor y seguir
                    desarrollándome profesionalmente en una compañía que coincida con mis valores y expectativas. <br>
                    Como persona organizada y con una gran motivación, soy capaz de adaptarme a cualquier circunstancia
                    y dar siempre lo mejor de mí en cualquier proyecto, al mismo tiempo que me esfuerzo por trabajar en
                    equipo y fomentar valores como los del compañerismo.
                </p>
            </div>
        </div>

        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3>Habilidades</h3>

                <p>Cuento con diversas habilidades que se relacionan con el ambiente que actualmente comparto, las he
                    adquirido a través de mis estudios, profundizando mucho mas en algunas que en otras.</p>

                <p>
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>Cuento con estas habilidades</h3>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent90"><span>90%</span></div>
                        <strong>HTML5</strong>
                    </li>
                    <li>
                        <div class="progress percent85"><span>85%</span></div>
                        <strong>CSS3</strong>
                    </li>
                    <li>
                        <div class="progress percent70"><span>70%</span></div>
                        <strong>Java</strong>
                    </li>
                    <li>
                        <div class="progress percent95"><span>80%</span></div>
                        <strong>PHP</strong>
                    </li>
                    <li>
                        <div class="progress percent75"><span>75%</span></div>
                        <strong>MySQL</strong>
                    </li>
                    <li>
                        <div class="progress percent100"><span>60%</span></div>
                        <strong>JavaScript</strong>
                    </li>
                </ul>
            </div>

        </div> <!-- end about-content -->
        <br>
        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3>Cualidades</h3>

                <p>Cuento con diversas cualidades las cuales he aprendido a lo largo de mi vida, me caracterizan como
                    persona, esto me ha ayudado a formarme mejor como persona, ayudándome en mi formación profesional.
                </p>

                <p>
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>Cuento con estas cualidades</h3>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent0"></div>
                        <strong>ANALÍTICO</strong>
                    </li>
                    <li>
                        <div class="progress percent0"></div>
                        <strong>PACIENTE</strong>
                    </li>
                    <li>
                        <div class="progress percent0"></div>
                        <strong>COMUNICACIÓN ASERTIVA</strong>
                    </li>
                    <li>
                        <div class="progress percent0"></div>
                        <strong>RECURSIVO</strong>
                    </li>
                    <li>
                        <div class="progress percent0"></div>
                        <strong>TRABAJO EN EQUIPO </strong>
                    </li>
                    
                </ul>
            </div>

        </div>

    </section> <!-- end about -->

    <section>
        <%- include('templates/contacto'); %>
    </section>

    <footer>
        <%- include('templates/footer'); %>
    </footer>

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                        title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
                        title="Share"></button> <button class="pswp__button pswp__button--fs"
                        title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
                        title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>