<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Luis Silva</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>
    <link rel="icon" href="images/nodejs.png" type="image/x-icon">

</head>

<body id="top">

    <header>
        <%- include('templates/header'); %>
    </header>
    <section>
        <%- include('templates/section'); %>
    </section>

    <!-- testimonials
    ================================================== -->
    <div class="s-testimonials">

        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">Referencias Personales y Familiares</h1>
            </div>
        </div>

        <div class="row testimonials">

            <div class="col-full testimonials__slider">

                <div class="testimonials__slide">
                    <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                    <p>Por medio de la presente, me permito recomendar a mi hermano Luis Sneyder Silva Albarracin, a
                        quien tengo 18 años de conocer, y puedo dar fe de su calidad como persona, debido a que se trata
                        de alguien respetuoso, honesto y muy trabajador. Por este motivo, considero que es una persona
                        confiable para cualquier situación en que se vea involucrada.</p>
                    <div class="testimonials__author h06">
                        Edwin Javier Silva Albarracin
                        <span>CEL: 321 2840466</span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="images/avatars/user-05.png" alt="Author image" class="testimonials__avatar">
                    <p>Por medio de la presente, me permito recomendar a mi hermano Luis Sneyder Silva Albarracin, a
                        quien tengo 18 años de conocer, y puedo dar fe de su calidad como persona, debido a que se trata
                        de alguien respetuoso, honesto y muy trabajador. Por este motivo, considero que es una persona
                        confiable para cualquier situación en que se vea involucrada.</p>
                    <div class="testimonials__author h06">
                        Edgar Fabian Silva Albarracin
                        <span>CEL: 350 5754822</span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="images/avatars/user-02.png" alt="Author image" class="testimonials__avatar">
                    <p>nacionalidad Colombiana, titular de la CC Nº
                        1025320898 y residente en Bogota D.C, doy fe de que conozco de vista, trato y comunicación a
                        Luis Sneyder Silva Albarracin de nacionalidad Colombiana, y titular de la CC Nº 1025141570.
                        Asimismo, declaro que durante los años de trato, ha demostrado ser un trabajador responsable,
                        honesto, amable y, lo más importante, eficiente.</p>
                    <div class="testimonials__author h06">
                        Daniel Fernando Sierra Betancourt
                        <span>CEL: 310 2359610</span>
                    </div>
                </div>

            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </div> <!-- end s-testimonials -->


    <section>
        <%- include('templates/contacto'); %>
    </section>

    <footer>
        <%- include('templates/footer'); %>
    </footer>

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                        title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
                        title="Share"></button> <button class="pswp__button pswp__button--fs"
                        title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
                        title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>