<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Luis Silva</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <!-- <div class="header-logo">
            <a class="site-logo" href="index.html"><img src="images/logo.png" alt="Homepage"></a>
        </div> -->

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a href="/" title="home">Inicio</a></li>
                <li><a class="smoothscroll" href="#about" title="about">Sobre mi</a></li>
                <li><a href="/estudios" title="works">Estudios</a></li>
                <li><a href="/referencias" title="blog">Referencias</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact">Contact</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- home
   ================================================== -->
    <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="images/yooo.jpg"
        data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">


                <h1>
                    Luis Sneyder Silva Albarracin <br>
                    Analista, programador <br>
                    Diseño software
                </h1>


                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Scroll Down</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
            <li>
                <a href="https://www.facebook.com/luissneyder.silvaalbarracin"><i class="im im-facebook"
                        aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="https://twitter.com/titoneros"><i class="im im-twitter"
                        aria-hidden="true"></i><span>Twiiter</span></a>
            </li>
            <li>
                <a href="https://www.instagram.com/titosilva_11/"><i class="im im-instagram"
                        aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            <li>
                <a href="https://co.pinterest.com/titosilvaa/"><i class="im im-pinterest"
                        aria-hidden="true"></i><span>Pinterest</span></a>
            </li>
        </ul>
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full text-center">

                <h1>Sobre mi.</h1>
                <p class="lead">Como estudiante actual en tecnología de análisis y desarrollo de sistemas de información
                    (ADSI) me encantaría poder entrar a formar parte de una empresa en la que poder aplicar todos mis
                    conocimientos y, al mismo tiempo, que me permita desarrollarme profesionalmente. <br>
                    Gracias a mi formación especializada en programación, considero que puedo aportar valor y seguir
                    desarrollándome profesionalmente en una compañía que coincida con mis valores y expectativas. <br>
                    Como persona organizada y con una gran motivación, soy capaz de adaptarme a cualquier circunstancia
                    y dar siempre lo mejor de mí en cualquier proyecto, al mismo tiempo que me esfuerzo por trabajar en
                    equipo y fomentar valores como los del compañerismo.
                </p>
            </div>
        </div>

        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3>Habilidades</h3>

                <p>Cuento con diversas habilidades que se relacionan con el ambiente que actualmente comparto, las he
                    adquirido a través de mis estudios, profundizando mucho mas en algunas que en otras.</p>

                <p>
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>Cuento con estas habilidades</h3>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent90"><span>90%</span></div>
                        <strong>HTML5</strong>
                    </li>
                    <li>
                        <div class="progress percent85"><span>85%</span></div>
                        <strong>CSS3</strong>
                    </li>
                    <li>
                        <div class="progress percent70"><span>70%</span></div>
                        <strong>Java</strong>
                    </li>
                    <li>
                        <div class="progress percent95"><span>80%</span></div>
                        <strong>PHP</strong>
                    </li>
                    <li>
                        <div class="progress percent75"><span>75%</span></div>
                        <strong>MySQL</strong>
                    </li>
                    <li>
                        <div class="progress percent100"><span>60%</span></div>
                        <strong>JavaScript</strong>
                    </li>
                </ul>
            </div>

        </div> <!-- end about-content -->
        <br>
        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3>Cualidades</h3>

                <p>Cuento con diversas cualidades las cuales he aprendido a lo largo de mi vida, me caracterizan como
                    persona, esto me ha ayudado a formarme mejor como persona, ayudándome en mi formación profesional.
                </p>

                <p>
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>Cuento con estas cualidades</h3>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent0"></div>
                        <strong>ANALÍTICO</strong>
                    </li>
                    <li>
                        <div class="progress percent0"></div>
                        <strong>PACIENTE</strong>
                    </li>
                    <li>
                        <div class="progress percent0"></div>
                        <strong>COMUNICACIÓN ASERTIVA</strong>
                    </li>
                    <li>
                        <div class="progress percent0"></div>
                        <strong>RECURSIVO</strong>
                    </li>
                    <li>
                        <div class="progress percent0"></div>
                        <strong>TRABAJO EN EQUIPO </strong>
                    </li>
                    
                </ul>
            </div>

        </div>
        <div class="row about-content about-content--timeline">

            <div class="col-full text-center">
                <h3>Mis gustos.</h3>
            </div>

            <div class="col-six tab-full left">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            
                            <h3>Ciclismo</h3>
                            
                        </div>
                        <div class="timeline__desc">
                            <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi
                                cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                                cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
                                occaecat nisi.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            
                            <h3>Música</h3>
                            
                        </div>
                        <div class="timeline__desc">
                            <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi
                                cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                                cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
                                occaecat nisi incididunt.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                </div> <!-- end timeline -->
            </div> <!-- end left -->

            <div class="col-six tab-full right">
                <div class="timeline">

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            
                            <h3>Motos</h3>
                            
                        </div>
                        <div class="timeline__desc">
                            <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi
                                cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                                cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
                                occaecat nisi.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            
                            <h3>Programación</h3>
                            
                        </div>
                        <div class="timeline__desc">
                            <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi
                                cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                                cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
                                occaecat nisi incididunt.</p>
                        </div>
                    </div> <!-- end timeline__block -->

                </div> <!-- end timeline -->
            </div> <!-- end right -->

        </div> <!-- end about-content timeline -->

    </section> <!-- end about -->
    <section id="works" class="s-works target-section">
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car"
                                data-size="1050x700">
                                <img src="images/portfolio/beetle.jpg"
                                    srcset="images/portfolio/beetle.jpg 1x, images/portfolio/beetle@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Música
                            </h3>
                            <p class="item-folio__cat">
                                Pero del Ferxxo
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>awo awo</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-lighthouse.jpg" class="thumb-link" title="Lighthouse"
                                data-size="1050x700">
                                <img src="images/portfolio/lighthouse.jpg"
                                    srcset="images/portfolio/lighthouse.jpg 1x, images/portfolio/lighthouse@2x.jpg 2x"
                                    alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Bicicleta
                            </h3>
                            <p class="item-folio__cat">
                                Venzo fx3 Evo
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>Aguante el stunt</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-salad.jpg" class="thumb-link" data-size="1050x700">
                                <img src="images/portfolio/salad.jpg"
                                    srcset="images/portfolio/salad.jpg 1x, images/portfolio/salad@2x.jpg 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Salad
                            </h3>
                            <p class="item-folio__cat">
                                Branding
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                                dolorem corrupti neque nisi.</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" data-size="1050x700">
                                <img src="images/portfolio/woodcraft.jpg"
                                    srcset="images/portfolio/woodcraft.jpg 1x, images/portfolio/woodcraft@2x.jpg 2x"
                                    alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Motos
                            </h3>
                            <p class="item-folio__cat">
                                Solo motos locas
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <span class="item-folio__caption">
                            <p>awo awo</p>
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->



            </div>
        </div> <!-- end masonry -->

    </section> <!-- end works -->

    <!-- s-stats
    ================================================== -->
    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contacto</h3>

                <p class="lead">Luis Sneyder Silva Albarracin - Analista y programador
                    <br>
                    TEL: 3195821930 - EMAIL: lssilva07@misena.edu.co
                </p>
            </div>
        </div>
    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/luissneyder.silvaalbarracin">
                            <i class="im im-facebook" aria-hidden="true"></i>
                            <span>Facebook</span>
                        </a></li>
                    <li><a href="https://twitter.com/titoneros">
                            <i class="im im-twitter" aria-hidden="true"></i>
                            <span>Twitter</span>
                        </a></li>
                    <li><a href="https://www.instagram.com/titosilva_11/">
                            <i class="im im-instagram" aria-hidden="true"></i>
                            <span>Instagram</span>
                        </a></li>
                    <li><a href="https://co.pinterest.com/titosilvaa/">
                            <i class="im im-pinterest" aria-hidden="true"></i>
                            <span>Pinterest</span>
                        </a></li>
                </ul>

            </div>
        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Silva 2022</span>
                    <span>Design by <a>Luchito</a></span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up"
                            aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                        title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
                        title="Share"></button> <button class="pswp__button pswp__button--fs"
                        title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
                        title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>