<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Luis Silva</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/vendor.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/modernizr.js"></script>
        <script src="js/pace.min.js"></script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    </head>
<body>
    <header class="s-header">
        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a href="/" title="home">Inicio</a></li>
                <li><a href="/sobremi" title="about">Sobre mi</a></li>
                <li><a href="/estudios" title="works">Estudios</a></li>
                <li><a href="/referencias" title="blog">Referencias</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact">Contacto</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> 

</body>
</html>